<header>
  <!-- Modal -->
  <div
    class="modal fade modalBackground"
    id="myModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modalDtMoney">
        <div class="modalHeader">
          <h5 class="modal-title" id="exampleModalLabel">Nova transação</h5>
          <button
            type="button"
            class="btn-close modalDtMoneyButtonClose"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="sub-header">
      <img src="assets/logo.png" alt="logo" />
      <app-button [title]="'Nova transação'" (click)="openModal()" />
    </div>
    <div class="operations">
      <app-operation
        [title]="'Entradas'"
        [icon]="'assets/income.png'"
        [balance]="'R$ 17.400,00'"
      />
      <app-operation
        [title]="'Saídas'"
        [icon]="'assets/outcome.png'"
        [balance]="'R$ 1.259,00'"
      />
      <app-operation
        [title]="'Total'"
        [icon]="'assets/balance.png'"
        [balance]="'R$ 16.141,00'"
      />
    </div>
  </div>
</header>
