header{
  width: 100vw;
  height: 212px;
  background-color: var(--gray1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .content{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    height: 212px;
    position: absolute;
    top: 20%;

    .sub-header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .operations{
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      gap: 2rem;
    }
  }
}

