.common-input {
  background-color: var(--gray1) !important;
  border-radius: 6px;
  padding: 16px;
  height: 54px;
  width: 100%;
  color: var(--grays-texto-base);
  border: none;

  &::placeholder {
    color: var(--grays-placeholder);
    font-weight: 700;
  }
}
